.custom-button {
    float: right;
    min-width: 165px;
    width: auto;
    height: 50px;
    letter-spacing: 0.5px;
    line-height: 50px;
    padding-left: 1px;
    padding: 0 35px 0 35px;
    font-size: 15px;
    background-color: #969393;
    color: black;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed';
    font-weight: bolder;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.custom-button:hover {
    background-color: #097969;
    color: white;
    border: 1px solid black;
}

.toLeft {
    padding-left: 8px;
}
